.exit-button {
    height: fit-content !important;
    background-color: #e06565 !important;
    min-width: 0 !important;
    padding: 0.5vw !important;
    position: absolute !important;
    right: 1vw !important;
    top: 2vh !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.exit-button .exit-icon {
    width: 3vw;
    height: 3vw;
}

.exit-button:hover {
    background-color: #d14444;
}
