.game-type-form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.game-type-form Button {
    width: 8vw;
    height: 8vw;
    background-color: #a0b3c3;
    margin: 0 2vw 0 2vw;
    border-radius: 0.5rem !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-type-form .selected {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border: solid 2px black;
}

.game-type-icon {
    width: 6vw;
    height: 6vw;
}
