.name-input {
    background-color: #a0b3c3;
    height: 6vh;
    width: 20vw;
    margin-top: 3vh;
    text-align: center;
    border-radius: 0.3rem;
    margin: auto;
    border-width: 0;
    font-family: "Nunito", sans-serif;
    font-size: 3vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
